<div id="page_content">
	<div id="left-col">
		<p id="navcontainer" class="hidden">adpage</p>
		<p id="navcol" class="hidden">gettingStarted</p>
		<div id="nav_col" class="smooth">
			<ul class="feed_filter selectable">
				<li><a href="/account" id="start" class="filter_link require_user smooth selected">Topup</a></li>
				<li><a href=<%= edit_user_path(@user)%> id="websites" class="filter_link smooth">Edit Account</a></li>
				<li><a href="/history" id="codegen" class="filter_link smooth">Transaction History</a></li>
				<li><a href="/bonuses" id="examples" class="filter_link smooth">Bonuses</a></li>
				<script>//Used to get the source and determine which link is selected
					var navColSource = document.getElementById('navcol').innerHTML;
						if(navColSource == "gettingStarted"){
						  var element = document.getElementById('start');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "websites"){
						  var element = document.getElementById('websites');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "codegen"){
						  var element = document.getElementById('codegen');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "examples"){
						  var element = document.getElementById('examples');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "showcase"){
						  var element = document.getElementById('showcase');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
				</script>
			</ul>
		</div>
	</div>
	<div id="middle-column">
		<h3>Your Numbers</h3>
		<table>
			<tr>
				<th>Alias</th>
		    <th>Number</th>
		    <th>Enter TopUp Amount</th>
		    <th>Modify</th>
		  </tr>
			<tr>
				<%= form_for @user do |f| %>
			  	<td><%= f.text_field :mobile_alias, options={:size=>'10'} %></td>
				  <td><%= f.text_field :mobile_no, options={:size=>'10'} %></td>
				  <td><%= text_field_tag 'Topup', 'Enter Amount', options={:size=>'10'} %></td>
				  <td><%= f.submit 'Edit' %></td>
				<% end %>
			</tr>
			<% unless @user_mobiles.empty? %>
				<% @user_mobiles.each do |mobile| %>
					<tr>
					  <td><%= text_field_tag '', mobile.mobile_alias, options={:size=>'10'} %></td>
					  <td><%= text_field_tag '', mobile.mobile_number, options={:size=>'10'} %></td>
						<td><%= text_field_tag 'Topup', 'Enter Amount', options={:size=>'10'} %></td>
					  <td><%= submit_tag 'Edit' %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
		<h3>Add a number</h3>
		<table>
			<tr>
				<th>Create Alias</th>
		    <th>Number</th>
		    <th></th>
		  </tr>
			<tr style="border:1px solid grey;">
				<%= form_for @mobile do |f| %>
					<td><%= f.text_field :mobile_alias, options={:size=>'10'} %></td>
					<td><%= f.text_field :mobile_number, options={:size=>'10'} %></td>
					<td><%= f.submit 'Add Mobile'%></td>
				<% end %>
			</tr>
		</table>
	</div>
</div>