<div id="page_content">
	<div id="left-col">
		<p id="navcontainer" class="hidden">adpage</p>
		<p id="navcol" class="hidden">gettingStarted</p>
		<div id="nav_col" class="smooth">
			<ul class="feed_filter selectable">
				<li><a href="/publishers/gettingstarted" id="start" class="filter_link require_user smooth selected">Topup</a></li>
				<li><a href="/publishers/websites" id="websites" class="filter_link smooth">Edit Account</a></li>
				<li><a href="/publishers/codegen" id="codegen" class="filter_link smooth">Transaction History</a></li>
				<li><a href="/publishers/examples" id="examples" class="filter_link smooth">Bonuses</a></li>
				<script>//Used to get the source and determine which link is selected
					var navColSource = document.getElementById('navcol').innerHTML;
						if(navColSource == "gettingStarted"){
						  var element = document.getElementById('start');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "websites"){
						  var element = document.getElementById('websites');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "codegen"){
						  var element = document.getElementById('codegen');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "examples"){
						  var element = document.getElementById('examples');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
						else if(navColSource == "showcase"){
						  var element = document.getElementById('showcase');
						  element.setAttribute('class', 'filter_link require_user smooth selected');
						}
				</script>
			</ul>
		</div>
	</div>
	<div id="middle-column">
		<h3>Mobile Numbers</h3>
		<table>
			<tr>
				<th>Alias</th>
		    <th>Number</th>
		    <th>Enter TopUp Amount</th>
		    <th>Modify</th>
		  </tr>
			<tr>
			  <td><%= text_field_tag 'Alias', @user.mobile_alias, options={:size=>'10'} %></td>
			  <td><%= text_field_tag 'Mobile Number', @user.mobile_no, options={:size=>'10'} %></td>
			  <td><%= text_field_tag 'Topup', 'Enter Amount', options={:size=>'10'} %></td>
			  <td><%= link_to 'Edit', edit_user_path(@user) %></td>
			</tr>
		<% unless @user.mobiles.empty? %>
			<%= render @mobiles %>
		<% end %>
			<tr>
			  <td><%= text_field_tag 'Alias', 'Empty', options={:size=>'10'} %></td>
			  <td><%= text_field_tag 'Mobile Number', 'Empty', options={:size=>'10'} %></td>
			  <td><%= text_field_tag 'Topup', 'Enter Amount', options={:size=>'10'} %></td>
			  <td><%= link_to 'Edit', edit_user_path(@user) %></td>
			</tr>
		</table>
	</div>
</div>