	<div id="middle-column">
		<h3>Your Numbers</h3>
		<table>
			<tr>
				<th>Alias</th>
		    <th>Number</th>
		    <th>Enter TopUp Amount</th>
		    <th>Modify</th>
		  </tr>
			<tr>
				<%= form_for @user do |f| %>
			  	<td><%= f.text_field :mobile_alias, options={:size=>'10'} %></td>
				  <td><%= f.text_field :mobile_no, options={:size=>'10'} %></td>
				  <td><%= text_field_tag 'Topup', 'Enter Amount', options={:size=>'10'} %></td>
				  <td><%= f.submit 'Edit' %></td>
				<% end %>
			</tr>
			<% unless @user_mobiles.empty? %>
				<% @user_mobiles.each do |mobile| %>
					<tr>
						<%= form_for mobile do |f| %>
					  	<td><%= f.text_field :mobile_alias, options={:size=>'10'} %></td>
					  	<td><%= f.text_field :mobile_number, options={:size=>'10'} %></td>
							<td><%= text_field_tag 'Topup', 'Enter Amount', options={:size=>'10'} %></td>
					  	<td><%= f.submit 'Edit' %></td>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		</table>
		<h3>Add a number</h3>
		<table>
			<tr>
				<th>Create Alias</th>
		    <th>Number</th>
		    <th></th>
		  </tr>
			<tr style="border:1px solid grey;">
				<%= form_for @mobile do |f| %>
					<td><%= f.text_field :mobile_alias, options={:size=>'10'} %></td>
					<td><%= f.text_field :mobile_number, options={:size=>'10'} %></td>
					<td><%= f.submit 'Add Mobile'%></td>
				<% end %>
			</tr>
		</table>
	</div>
	<div id='right-column'>
		<h3>Payment Information</h3>
		<% if !@user_card.nil? %>
			<%= form_for(@user_card) do |f| %>
				<% if @user_card.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user_card.errors.count, "error") %> prohibited this card from being saved:</h2>
						<ul>
							<% @card.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
		      		<% end %>
						</ul>
		    	</div>
				<% end %>
				<div class="field">
		    	<%= f.label :payment_option %><br />
					<%= select_tag(:payment_option, options_for_select([['Select:', -1], ['Credit Card', 1]])) %>
		  	</div>
				<div class="field">
		    	<%= f.label :card_type %><br />
					<%= f.select(:card_type, options_for_select([['Select:', -1], ['Visa', 'Visa']], @user_card.card_type)) %>
		  	</div>
				<div class="field">
					<%= f.label :card_number %><br />
		    	<%= f.text_field :card_number , options={:size=>'13'} %>
		  	</div>
				<div class="field">
		    	<%= f.label :expiration_date %><br />
					<%= f.select(:expdate_month, options_for_select([['Month:', -1], ['January', "1"], ['February', "2"],['March', "3"], 
																						['April', "4"],['May', "5"], ['June', "6"],['July', "7"], ['August', "8"],
																						['September', "9"], ['October', "10"],['November', "11"], ['December', "12"]],@user_card.expdate_month)) %>
																						<%= f.select(:expdate_year, options_for_select([['Year:', -1], ['2011', '2011'], 
																						['2010', '2010'],['2009', '2009'], ['2008', '2008'],
																						['2007', '2007'], ['2006', '2006'],['2005', '2005'], ['2004', '2004'],['2003', '2003'], 
																						['2002', '2002'],['2001', '2001'], ['2000', '2000']], @user_card.expdate_year)) %>
				</div>
				<div class="field">
					<%= f.label :cvv_number %><br />
		    	<%= f.text_field :cvv_number, options={:size=>'1'} %>
		  	</div>
				<div class="actions">
					<%= f.submit %>
				</div>
			<% end %>
			<% else %>
				 <%= form_for(@card) do |f| %>
					<% if @card.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>
							<ul>
								<% @card.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
				      	<% end %>
							</ul>
				    </div>
					<% end %>
					<div class="field">
				    <%= f.label :payment_option %><br />
						<%= select_tag(:payment_option, options_for_select([['Select:', -1], ['Credit Card', 1]])) %>
				  </div>
					<div class="field">
				    <%= f.label :card_type %><br />
						<%= f.select(:card_type, options_for_select([['Select:', -1], ['Visa', 'Visa']], @card.card_type)) %>
				  </div>
					<div class="field">
						<%= f.label :card_number %><br />
				    <%= f.text_field :card_number, options={:size=>'13'} %>
				  </div>
					<div class="field">
				    <%= f.label :expiration_date %><br />
						<%= f.select(:expdate_month, options_for_select([['Month:', -1], ['January', "1"], ['February', "2"],['March', "3"], 
																								['April', "4"],['May', "5"], ['June', "6"],['July', "7"], ['August', "8"],
																								['September', "9"], ['October', "10"],['November', "11"], ['December', "12"]],@card.expdate_month)) %>
						<%= f.select(:expdate_year, options_for_select([['Year:', -1], ['2011', '2011'], ['2010', '2010'],['2009', '2009'], ['2008', '2008'],
																								['2007', '2007'], ['2006', '2006'],['2005', '2005'], ['2004', '2004'],['2003', '2003'], 
																								['2002', '2002'],['2001', '2001'], ['2000', '2000']], @card.expdate_year)) %>
				  </div>
					<div class="field">
						<%= f.label :cvv_number %><br />
				    <%= f.text_field :cvv_number, options={:size=>'1'} %>
				  </div>
					<div class="actions">
						<%= f.submit %>
					</div>
			<% end %>
		<% end %>
	</div>