<h2>Company Sign Up</h2>
<br/>
<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<h4>Company Information</h4>
	<hr/>
	<div class="field">
		<%= f.label :company_name, "Company Name" %><br />
    <%= f.text_field :company_name %>
  </div>
	<div class="field">
    <%= f.label :company_email, "Company Email" %><br />
    <%= f.text_field :company_email %>
  </div>
	<br/>
	<h4>Account Administrator</h4>
	<hr/>
	<div class="field">
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<div class="field">
		<%= f.label :mobile_no %><br />
    <%= f.text_field :mobile_no %>
  </div>
	<div class="field">
		<%= f.label :mobile_no_confirmation, "Retype Mobile No" %><br />
    <%= f.text_field :mobile_no_confirmation %>
  </div>
	<div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
	<div class="field">
		<%= f.label :password %><br />
	  <%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Retype Password" %><br />
	   <%= f.password_field :password_confirmation %>
	</div>
	<%= link_to 'Add more admins', "#" %>
	
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>

<%= link_to 'Back', users_path %>
